* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(196,227,206);
  background: linear-gradient(90deg, rgba(196,227,206,1) 0%, rgba(120,210,213,1) 49%, rgba(124,180,191,1) 100%);
  color: rgb(236, 232, 232);
  padding: 5rem 4rem;
}

.app {
  display: flex;
  justify-content: center;
}
